layout: index
subtitle: html5 2d canvas 框架
description: Konva 是一个快速，简单和强大的2d canvas库
comments: false
---
.intro-wrap
  .outer
        h2.intro-features 框架特色
        ul.features
          li 内置支持HDPI设备且文字和图形进行像素优化
          li 面向对象API
          li 节点嵌套和事件冒泡
          li 高性能事件检测通过颜色哈希地图
          li 支持分层
          li 节点缓存以提高绘图性能
          li 节点可以转换成数据URL，图像数据或图像对象
          li 动画支持
          li 补间动画
          li 可配置约束拖放边界
          li 滤镜
          li 可以使用包括矩形，圆形，图像，文本，线条，多边形，SVG路径等形状
          li 自定义形状
          li 事件驱动架构，使开发人员能够订阅更改事件，图层绘制事件等
          li 序列化和反序列化
          li 支持选择器例如 stage.get（'＃foo'）和layer.get（'。bar'）;
          li 支持PC端和移动端事件
          li AMD 支持
          li 自定义命中空间
          li 更多...
          h2.intro-features 演示
          p.codepen(data-height='500', data-theme-id='11714', data-slug-hash='myBPGo', data-default-tab='result', data-user='lavrton')
              | See the Pen
              a(href='https://codepen.io/lavrton/pen/myBPGo/') KonvaJS Demo
              |  by Anton Lavrenov (
              a(href='https://codepen.io/lavrton') @lavrton
              | ) on
              a(href='https://codepen.io') CodePen
              | .
              script(async='', src='//assets.codepen.io/assets/embed/ei.js')

    .outer
    #intro-btn-wrap
      a#intro-btn(href="/docs/") 立即开始
