<div id="banner">
  <div class="outer">
    <div class="inner">
      <h2 id="banner-title">Konva.js 一个基于 Canvas 开发的 2d JavaScript框架库, 它可以轻松的实现桌面应用和移动应用中的图形交互交互效果..</h2>
      <div id="banner-getting-started">
          <a class="btn" href="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.min.js">下载</a>
          <a class="btn" href="https://cdn.rawgit.com/konvajs/konva/1.4.0/konva.js">下载完整开发版本</a>
      </div>
      <div id="banner-share">
        <%- partial('_partial/share') %>
      </div>
    </div>
  </div>
</div>

<%- page.content %>
